/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "compass/typography/vertical_rhythm";

body {
  background: rgba(255, 255, 255, 0) url(../../assets/images/foto_fondo.jpg) repeat top left;
  color: #777777;
  font-size: 21px;
  line-height: 1.5em;
}

/**
 * Site header
 * */
.site-header {
  position: relative;
  background-color: #29286a;
  a {
    color: #eeeeee;
  }
  .glyphicon {
    color: #eeeeee;
  }
  .header-links {
    @include rhythm(0,0.8,0.5,0);
    a.active {
      color: #777777;
    }
    a {
      color: #cccccc;
    }
  }
  nav[role=navigation] {
    position: relative;
    margin-bottom: 0;
    text-shadow: inset rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
    @include border-radius(0);
    z-index: 20;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    a {
      color: 29286a;
      &:hover {
        color: darken(#29186a, 10%);
      }
    }
    a.navbar-brand {
        img {
          position: absolute;
          margin-top: -4em;
          margin-left: 0.5em;
        }
    }
    .navbar-collapse {
      ul {
        font-family: "Alegreya", serif;
        li.leaf {
          list-style-image: none;
          list-style-type: none;
        }
        li {
          ul {
            font-size: 14px;
          }
        }
      }
    }
  }
}

/**
 * Slider
 */
#slideshow {
  position: relative;
  z-index: 10;
}

/**
 * Main content
 */
main {
  @include rhythm(2,0,0,2);
  font-family: Alegreya, serif;

  a {
    color: #777777;
  }

  article {
    p {
      @include rhythm(0,0,0,0.5);
    }
    img {
      vertical-align: middle;
    }
  }

  .marco-foto img {
    padding: 1em;
    background: transparent url(../../assets/images/marcofotos.png) no-repeat center center;
    background-size: contain;
  }

  blockquote {
    text-align: center;
    font-style: italic;
  }
}

/**
 * Site footer
 */
.site-footer {
  color: #eeeeee;
  @include adjust-font-size-to(12px);
  .row {
    background-color: #29286a;
    @include rhythm(0,1,1,0);
    &:last-child {
      @include rhythm(0,1,0,0);
      @include adjust-font-size-to(12px);
    }
  }

  .redes-sociales {
    background-color: transparent;
    border-bottom: solid 0.3em #29286a;
    margin-bottom: 0.5em;

    ul {
      background-color: white;
      margin-bottom: -0.972222222em;
    }
  }

  .footer-heading {
    font-family: serif;
    color: #eeeeee;
    margin-bottom: 0.5em;

  }
  p {
  }

  #udala h1 {
    a { color: #ccc; }
    &:before {
      content: url(../../assets/images/logo-getariako-udala.png) '\0000A0';
      vertical-align: top;
    }
  }
  #turismo h1 {
    a { color: #ccc; }
    &:before {
      content: url(../../assets/images/logo-getaria-turismo.png) '\0000A0';
      vertical-align: top;
    }
  }
  .footer-menu a {
    color: #eeeeee;
  }
}

/**
 * Portada
 */
.view-portada header h1 {
  min-height: 2.5em;
}

.view-portada .row {
  @include rhythm(0,0,1.5,0);
}

.view-portada .con-padding {
  padding-left: 2em;
  padding-right: 2em;
}

ul.bibliografia {
  list-style: outside none none;
  li:before {
    content: url("../images/pluma.png") " ";
    vertical-align: top;
  }
}

/**
 * Centenario
 */
.isotope-item {
  @include rhythm(0,0,0,1);
}

[class^=translation] {
  display: none;
}

@media (min-width: 768px) {
  nav[role=navigation] {
    background-color: rgba(white, 0.8);
    //border-top: solid 1em white;
    ul {
      @include adjust-font-size-to(14px);
      li {
        padding-top: 0;
      }
    }
  }
  #slideshow {
    //margin-top: -3.4em;
  }
}
@media (min-width: 992px) {
  nav[role=navigation] {
    ul {
      @include adjust-font-size-to(16px);
    }
  }
  #slideshow {
  }

  .col-md-4 .marco-foto img {
    padding: 0.5em;
  }
}
@media (min-width: 1200px) {
  nav[role=navigation] {
  }
}
