@font-face {
  font-family: 'zocial';
  src: url('../font/zocial.eot?16008390');
  src: url('../font/zocial.eot?16008390#iefix') format('embedded-opentype'),
       url('../font/zocial.woff?16008390') format('woff'),
       url('../font/zocial.ttf?16008390') format('truetype'),
       url('../font/zocial.svg?16008390#zocial') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zocial';
    src: url('../font/zocial.svg?16008390#zocial') format('svg');
  }
}
*/
 
 [class^="icon-zocial"]:before, [class*=" icon-zocial"]:before {
  font-family: "zocial";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-zocialduckduckgo:before { content: '\e800'; } /* '' */
.icon-zocialaim:before { content: '\e801'; } /* '' */
.icon-zocialdelicious:before { content: '\e802'; } /* '' */
.icon-zocialpaypal:before { content: '\e803'; } /* '' */
.icon-zocialflattr:before { content: '\e804'; } /* '' */
.icon-zocialandroid:before { content: '\e805'; } /* '' */
.icon-zocialeventful:before { content: '\e806'; } /* '' */
.icon-zocialsmashmag:before { content: '\e807'; } /* '' */
.icon-zocialgplus:before { content: '\e808'; } /* '' */
.icon-zocialwikipedia:before { content: '\e809'; } /* '' */
.icon-zociallanyrd:before { content: '\e80a'; } /* '' */
.icon-zocialcalendar:before { content: '\e80b'; } /* '' */
.icon-zocialstumbleupon:before { content: '\e80c'; } /* '' */
.icon-zocialfivehundredpx:before { content: '\e80d'; } /* '' */
.icon-zocialpinterest:before { content: '\e80e'; } /* '' */
.icon-zocialbitcoin:before { content: '\e80f'; } /* '' */
.icon-zocialw3c:before { content: '\e810'; } /* '' */
.icon-zocialfoursquare:before { content: '\e811'; } /* '' */
.icon-zocialhtml5:before { content: '\e812'; } /* '' */
.icon-zocialie:before { content: '\e813'; } /* '' */
.icon-zocialcall:before { content: '\e814'; } /* '' */
.icon-zocialgrooveshark:before { content: '\e815'; } /* '' */
.icon-zocialninetyninedesigns:before { content: '\e816'; } /* '' */
.icon-zocialforrst:before { content: '\e817'; } /* '' */
.icon-zocialdigg:before { content: '\e818'; } /* '' */
.icon-zocialspotify:before { content: '\e819'; } /* '' */
.icon-zocialreddit:before { content: '\e81a'; } /* '' */
.icon-zocialguest:before { content: '\e81b'; } /* '' */
.icon-zocialgowalla:before { content: '\e81c'; } /* '' */
.icon-zocialappstore:before { content: '\e81d'; } /* '' */
.icon-zocialblogger:before { content: '\e81e'; } /* '' */
.icon-zocialcc:before { content: '\e81f'; } /* '' */
.icon-zocialdribbble:before { content: '\e820'; } /* '' */
.icon-zocialevernote:before { content: '\e821'; } /* '' */
.icon-zocialflickr:before { content: '\e822'; } /* '' */
.icon-zocialgoogle:before { content: '\e823'; } /* '' */
.icon-zocialviadeo:before { content: '\e824'; } /* '' */
.icon-zocialinstapaper:before { content: '\e825'; } /* '' */
.icon-zocialweibo:before { content: '\e826'; } /* '' */
.icon-zocialklout:before { content: '\e827'; } /* '' */
.icon-zociallinkedin:before { content: '\e828'; } /* '' */
.icon-zocialmeetup:before { content: '\e829'; } /* '' */
.icon-zocialvk:before { content: '\e82a'; } /* '' */
.icon-zocialplancast:before { content: '\e82b'; } /* '' */
.icon-zocialdisqus:before { content: '\e82c'; } /* '' */
.icon-zocialrss:before { content: '\e82d'; } /* '' */
.icon-zocialskype:before { content: '\e82e'; } /* '' */
.icon-zocialtwitter:before { content: '\e82f'; } /* '' */
.icon-zocialyoutube:before { content: '\e830'; } /* '' */
.icon-zocialvimeo:before { content: '\e831'; } /* '' */
.icon-zocialwindows:before { content: '\e832'; } /* '' */
.icon-zocialxing:before { content: '\e833'; } /* '' */
.icon-zocialyahoo:before { content: '\e834'; } /* '' */
.icon-zocialchrome:before { content: '\e835'; } /* '' */
.icon-zocialemail:before { content: '\e836'; } /* '' */
.icon-zocialmacstore:before { content: '\e837'; } /* '' */
.icon-zocialmyspace:before { content: '\e838'; } /* '' */
.icon-zocialpodcast:before { content: '\e839'; } /* '' */
.icon-zocialamazon:before { content: '\e83a'; } /* '' */
.icon-zocialsteam:before { content: '\e83b'; } /* '' */
.icon-zocialcloudapp:before { content: '\e83c'; } /* '' */
.icon-zocialdropbox:before { content: '\e83d'; } /* '' */
.icon-zocialebay:before { content: '\e83e'; } /* '' */
.icon-zocialfacebook:before { content: '\e83f'; } /* '' */
.icon-zocialgithub:before { content: '\e840'; } /* '' */
.icon-zocialgithub-circled:before { content: '\e841'; } /* '' */
.icon-zocialgoogleplay:before { content: '\e842'; } /* '' */
.icon-zocialitunes:before { content: '\e843'; } /* '' */
.icon-zocialplurk:before { content: '\e844'; } /* '' */
.icon-zocialsongkick:before { content: '\e845'; } /* '' */
.icon-zociallastfm:before { content: '\e846'; } /* '' */
.icon-zocialgmail:before { content: '\e847'; } /* '' */
.icon-zocialpinboard:before { content: '\e848'; } /* '' */
.icon-zocialopenid:before { content: '\e849'; } /* '' */
.icon-zocialquora:before { content: '\e84a'; } /* '' */
.icon-zocialsoundcloud:before { content: '\e84b'; } /* '' */
.icon-zocialtumblr:before { content: '\e84c'; } /* '' */
.icon-zocialeventasaurus:before { content: '\e84d'; } /* '' */
.icon-zocialwordpress:before { content: '\e84e'; } /* '' */
.icon-zocialyelp:before { content: '\e84f'; } /* '' */
.icon-zocialintensedebate:before { content: '\e850'; } /* '' */
.icon-zocialeventbrite:before { content: '\e851'; } /* '' */
.icon-zocialscribd:before { content: '\e852'; } /* '' */
.icon-zocialposterous:before { content: '\e853'; } /* '' */
.icon-zocialstripe:before { content: '\e854'; } /* '' */
.icon-zocialopentable:before { content: '\e855'; } /* '' */
.icon-zocialcart:before { content: '\e856'; } /* '' */
.icon-zocialprint:before { content: '\e857'; } /* '' */
.icon-zocialangellist:before { content: '\e858'; } /* '' */
.icon-zocialinstagram:before { content: '\e859'; } /* '' */
.icon-zocialdwolla:before { content: '\e85a'; } /* '' */
.icon-zocialappnet:before { content: '\e85b'; } /* '' */
.icon-zocialstatusnet:before { content: '\e85c'; } /* '' */
.icon-zocialacrobat:before { content: '\e85d'; } /* '' */
.icon-zocialdrupal:before { content: '\e85e'; } /* '' */
.icon-zocialbuffer:before { content: '\e85f'; } /* '' */
.icon-zocialpocket:before { content: '\e860'; } /* '' */
.icon-zocialbitbucket:before { content: '\e861'; } /* '' */
.icon-zociallego:before { content: '\e862'; } /* '' */
.icon-zociallogin:before { content: '\e863'; } /* '' */
.icon-zocialstackoverflow:before { content: '\e864'; } /* '' */
.icon-zocialhackernews:before { content: '\e865'; } /* '' */
.icon-zociallkdto:before { content: '\e866'; } /* '' */